<nav class="navbar navbar-dark bg-dark">
    <ul>
        <a href="{{ path('articles') }}">Home</a>
        <a href="{{ path('home') }}">Articles</a>
        <a href="{{ path('home') }}">Fake</a>
    </ul>
</nav>
