{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
articles
    {% for a in articles%}

        <div class="jumbotron">
            <h1 class="display-4">{{ a.name }}</h1>
            <p class="lead">{{ a.description }}</p>
            <hr class="my-4">
            {% for user in a.user %}
                <p class="lead">
                    {{ user.firstname }}
                </p>
            {%   endfor %}
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir plus</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}
